/*------------------------------------------------------------ */
/* TRANSITIONS
-------------------------------------------------------------- */
/*------------------------------------------------------------ */
/* SATURATE
-------------------------------------------------------------- */
/*------------------------------------------------------------ */
/* CENTER BLOCK
-------------------------------------------------------------- */
/*------------------------------------------------------------ */
/* OPACITY
-------------------------------------------------------------- */
/*------------------------------------------------------------ */
/* BORDER RADIUS
-------------------------------------------------------------- */
/*------------------------------------------------------------ */
/* HEADINGS
-------------------------------------------------------------- */
/* Create a step size. */
/* This is the percentage each heading will be reduced by. */
/* Amplifier value */
/* The mixin */
/*------------------------------------------------------------ */
/* SHADOW
/* Example: @include box-shadow(0px, 10px, 14px, -7px $brand-secondary, $inset: false);
-------------------------------------------------------------- */
/*------------------------------------------------------------ */
/* GRADIENT
/* Example: @include linear-gradient(#31B7D7, #EDAC7D);
/* Example: @include linear-gradient(to right, #E47D7D 0%, #C195D3 50%, #4FB4E8 100%);
/* Example: @include linear-gradient(42deg, #B58234 0%, #D2B545 50%, #D7C04D 50.01%, #FFFFFF 100%);
-------------------------------------------------------------- */
/*------------------------------------------------------------ */
/* GENERAL
-------------------------------------------------------------- */
* {
  box-sizing: border-box; }

html,
body {
  height: 100%; }

body {
  background: #fff;
  transition: background-color 500ms 0s;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: OptimizeLegibility;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.8em;
  line-height: 1.7em; }

a {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  color: #AA8EE5; }
  a:hover {
    color: #655298; }

header {
  text-align: center;
  background: #F3F0E5; }
  header .logo {
    max-width: 300px;
    height: auto;
    padding: 40px 0 0 0; }

nav {
  padding: 20px 0; }
  nav a {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
    color: #079bc8;
    font-weight: 600; }
    nav a:hover {
      color: #655298; }

footer {
  background: #fff;
  text-align: center;
  padding: 10px 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 0.6em;
  text-transform: uppercase; }

/*------------------------------------------------------------ */
/* MEDIA
-------------------------------------------------------------- */
.media img {
  max-width: 200px;
  height: auto; }

/*------------------------------------------------------------ */
/* TEST
-------------------------------------------------------------- */
img.intro-splash {
  max-width: 100%;
  height: auto;
  position: relative;
  border-radius: 2px;
  z-index: 10;
  margin: 50px 0 -100px 0;
  box-shadow: 0 45px 54px 0 rgba(32, 34, 58, 0.12), 0 1px 3px 0 rgba(32, 34, 58, 0.3); }

/*------------------------------------------------------------ */
/* SECTION INTRO
-------------------------------------------------------------- */
.intro {
  background: #F3F0E5; }
  .intro h1 {
    font-weight: 800;
    font-size: 0.8em;
    text-transform: uppercase;
    padding: 0 0 30px 0; }
  .intro p {
    font-family: "IBM Plex Serif", serif;
    font-style: italic;
    font-size: 1.4em;
    line-height: 1.8em; }

/*------------------------------------------------------------ */
/* SECTIONS
-------------------------------------------------------------- */
.news {
  background: #CAD3C9;
  padding: 80px 0 40px 0; }
  .news .media .media-heading {
    font-weight: 800;
    font-size: 0.9em; }
  .news .media {
    text-align: left;
    font-size: 0.9em;
    line-height: 1.5em;
    padding: 0 0 40px 0; }

.why {
  background: #D7C0B6; }
  .why .embed-responsive {
    box-shadow: 0 9px 36px 0 #77635F;
    margin: 0 0 40px 0; }
  .why p {
    font-style: italic; }

.about {
  background: #F3F3F3; }
  .about p {
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    font-size: 0.8em;
    text-transform: uppercase; }

/*------------------------------------------------------------ */
/* SECTION
-------------------------------------------------------------- */
section {
  text-align: center;
  padding: 40px 0; }
  section h2 {
    font-family: "IBM Plex Serif", serif;
    font-style: italic;
    font-size: 3em;
    line-height: 1.6em;
    width: 100%;
    padding: 0 0 40px 0; }
  section p {
    font-family: "IBM Plex Serif", serif; }
